.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icon {
    font-size: 1.5rem;
  }
  &__logo {
    color: var(--brand-color);
    font-weight: bold;
    font-size: 2rem;
    &:hover {
      text-decoration: none;
      color: var(--first-color);
    }
  }
  &__item {
    margin-bottom: var(--mb-2);
  }
  &__link {
    transition: .3s;
    color: var(--text-color);
    font-weight: var(--font-medium);
    &:hover {
      color: var(--first-color);
      text-decoration: none;
    }
    &-active {
      color: var(--first-color);
    }
  }
  &__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .nav__menu { 
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
  .show {
    top: var(--header-height);
  }
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
  &__icon {
    font-size: 2rem;
  }
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

.bx-moon:hover,
.bx-sun:hover {
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px var(--header-color);
}