.footer {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
  &__content {
      &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin: .25rem 0 var(--mb-3);
      }
      &__social {
        font-size: 1.5rem;
        color: var(--title-color);
        margin-right: var(--mb-2);
        &:hover{
            color: var(--first-color);
        }
      }
      &__title {
        font-size: var(--h2-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-2);
      }
      &__item {
        display: inline-block;
        color: var(--text-color);
        margin-bottom: var(--mb-1);
        &:hover {
            color: var(--first-color);
            text-decoration: none;
        }
      }
  }
  &__copy {
      text-align: center;
      font-size: var(--small-font-size);
      color: var(--text-color-light);
      margin-top: 3.5rem;
    }
}